{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "browsers": ["last 2 versions", "> 5% in PL"]
                },
                "forceAllTransforms": true,
                "modules": false
            }
        ],
        [
            "@babel/preset-react", {
                "targets": {
                    "browsers": ["last 2 versions", "> 5% in PL"]
                },
                "forceAllTransforms": true,
                "modules": false
                }
        ]
    ],
    "plugins": [
        [
            "import", {
                "libraryName": "@material-ui/core",
                "libraryDirectory": "components",
                "camel2DashComponentName": false
            }
        ],
        "syntax-dynamic-import",
        "syntax-object-rest-spread"
    ]
}
