{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "typescript-eslint-parser",
    "plugins": [ "react", "typescript" ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
        "jsx": true
        }
    }
}
