/** BACKGROUNDS */
// $background--text: $background-secondary // almost white
$background--error: #ff99c8 // almost pink
$background--correct: #d0f4de // green
$background--corrected: #ffe9b2 // orange

// TODO - change font size
$typed-text-font-size: 60px
$typed-text-padding: 2px
$typed-text-margin: 2px

// TODO - change default value
@mixin textFont($background-color: '#ffffff')
    display: inline-block

    font-size: $typed-text-font-size

    padding: $typed-text-padding #{$typed-text-padding * 2}
    margin: $typed-text-margin * 3 $typed-text-margin

    background-color: $background-color

.text
    @include textFont()

.text-correct
    @include textFont($background--correct)

.text-corrected
    @include textFont($background--corrected)

.text-error
    @include textFont($background--error)