$falling-time: .1s
$falling-delay: .2s
$falling-start-position: -150px

$color-start: #757575
$color-middle: #e65100
$color-end: #000000

@keyframes titleFalling
    from
        top: $falling-start-position
    to
        top: 0

@keyframes titleInvisible
    0%
        color: $color-start
    70%
        color: $color-middle
    80%
        color: $color-middle
    100%
        color: $color-end

@for $i from 1 through 10
    h1 span.title-falling:nth-child(#{$i})
            animation: titleInvisible ($falling-delay * $i * 1.2 + $falling-time) linear, titleFalling ($falling-time  + $falling-delay * $i * 0.9 ) ease-in $falling-delay